<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	

  </head>
<body style="background-color:cyan">

<center><h1 style="color:red;background-color:pink"> This article belongs to business category</h1>
  
  <br>
  <br>
  
  <button style="font-size:30px" type="button" class="btn btn-outline-dark">Top 5 Business News</button>
  <br>
  <br>
  <div class="container">
<div class="row">
<div class="col">
  
  <div style="border-color:red" class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">Business</h5>
    <p class="card-text">{{ pre }}</p>
    <a href="{{ r }}" class="btn btn-primary">read more</a>
  </div>
</div>
  </div>
  
  <div class="col">
    
    <div style="border-color:red" class="card" style="width: 18rem;">
 
  <div class="card-body">
    <h5 class="card-title">Business</h5>
    <p class="card-text">{{ pre1 }}.</p>
    <a href="{{ r1 }}" class="btn btn-primary">read more</a>
  </div>
</div>
  </div>
  
  
  
  
  
  
  <div class="col">
  <div style="border-color:red" class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">Business</h5>
    <p class="card-text">{{ pre2 }}</p>
    <a href="{{ r2 }}" class="btn btn-primary">read more</a>
  </div>
</div>
    </div>
    </div>
  <br>
    <br>
  <div class="row">
  <div class="col">
    <div style="border-color:red" class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">Business</h5>
    <p class="card-text">{{ pre3 }}.</p>
    <a href="{{ r3 }}" class="btn btn-primary">read more</a>
  </div>
</div>
  </div>
  
    
      <div class="col">
      <div style="border-color:red" class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">Business</h5>
    <p class="card-text">{{ pre4 }}</p>
    <a href="{{ r4 }}" class="btn btn-primary">read more</a>
  </div>
</div>
    </div>
  </div>
  </div>
 
  </center>
  
  
  
  
 

</body>
</html>